/* # RESET */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* # UTILS */

.d-block {
  display: block;
}

.d-inline {
  display: inline;
}

.d-flex {
  display: flex;
}

.d-none {
  display: none;
}

/* # MOBILE FIRST (MAX-WIDTH 576PX) */

/* # MAIN */

.container {
  display: flex;
  height: calc(100vh - 120px);
}

.sidebar {
  width: 50px;
  height: 100%;
  background-color: black;
}

.logo {
  margin-left: 8px;
  margin-top: 5px;
}

.icon-logo {
  width: 35px;
}

.control {
  margin-top: 10px;
}

.home-page {
  width: 30px;
  margin-left: 10px;
}

.main {
  height: 100%;
  width: calc(100% - 50px);
  background-color: darkblue;
}

.header {
  height: 80px;
  width: 100%;
  background-color: rgb(10, 10, 39);
}

.main-content {
}

/* # FOOTER */

.footer {
  height: 120px;
  background-color: grey;
}

/* # TABLET MODE */

@media screen and (min-width: 768px) {
  .sidebar {
    width: 200px;
  }

  .main {
    width: calc(100% - 200px);
  }

  .logo {
    margin-left: 30px;
    margin-top: 5px;
  }

  .logo-image {
    margin-top: 15px;
    width: 120px;
  }

  .icon-logo {
    display: none;
  }

  .logo-item {
    margin-top: 15px;
    font-size: 20px;
  }

  .d-none {
    display: inline;
    color: white;
  }

  .control {
    display: flex;
    margin-left: 10px;
    margin-top: 25px;
  }

  .side-item {
    margin-left: 5px;
    margin-top: 8px;
  }

  .home-page {
    width: 30px;
    margin-left: 0;
  }

  .playlist {
    display: inline;
  }

  .title-playlist {
    margin-left: 10px;
    margin-top: 25px;
    font-size: 20px;
  }

  .fa-plus {
    font-size: 45px;
  }

  .new-playlist {
    margin-left: 10px;
    margin-top: 10px;
    display: flex;
    align-items: center;
  }

  .add-playlist {
    margin-left: 10px;
  }

  .list-playlist {
    margin-top: 10px;
  }

  .playlist-item {
    margin-left: 10px;
    margin-top: 20px;
    list-style: none;
  }

  .item-list {
    margin-bottom: 10px;
  }
}

/* # DESKTOP MODE */

@media screen and (min-width: 992px) {
  .sidebar {
    width: 300px;
  }

  .logo {
    display: flex;
    margin-left: 30px;
  }

  .control {
    display: flex;
    margin-left: 10px;
    margin-top: 25px;
  }

  .main {
    width: calc(100% - 300px);
  }
}
