/* # RESET */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* # UTILS */

.d-block {
  display: block;
}

.d-inline-block{
  display: inline-block;
}

.d-inline {
  display: inline;
}

.d-flex {
  display: flex;
}

.d-none {
  display: none;
}

/* # MOBILE FIRST (MAX-WIDTH 576PX) */

/* # MAIN */

.container {
  display: flex;
  height: calc(100vh - 120px);
}

.sidebar {
  width: 50px;
  height: 100%;
  background-color: black;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  overflow: hidden;
}

.logo {
  margin-left: 8px;
  margin-top: 5px;
}

.icon-logo {
  width: 35px;
}

.control {
  margin-top: 10px;
}

.download-image {
  width: 15px;
  display: inline;
}

.user-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user {
  width: 25px;
  background-color: gray;
  border-radius: 30px;
}

.home-page {
  width: 30px;
  margin-left: 10px;
}

/* # CONTENUTO PRINCIPALE */

.main {
  height: 100%;
  width: calc(100% - 50px);
  background-color:#141922;
}

.header {
  height: 80px;
  width: 100%;
  background-color: #080b12;
}

.main-content {
}

.main-section{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 15px;
  padding: 10px;
}

.section{
display: block;
color: gray;
}

.recently-played{

}

.title-section{
  color: white;
}

/* # FOOTER */

.footer {
  height: 120px;
  background-color:#282828;
  display: flex;
}

.current-track{
  width: calc(100%/3);
  background-color: red;
}

.player{
  width: calc(100%/3);
  background-color: green;
  
}

.buttons{
  width: 100%;
  height: calc(100%/2);
  background-color: rgb(9, 102, 33);
}

.multimedia-control{
  width: calc(100%/3);
  background-color: blue;
}

.progress-bar-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.track-time{
  color:#f2f2f2;
}

.progress-bar{
  background-color: gray;
  border: 1px solid black;
  min-width: 120px;
  max-width: 300px;
  height: 5px;
  border-radius: 5px;
}

.progress{
  width: 30%;
  height: 100%;
  background-color: white;
}


/* # TABLET MODE */

@media screen and (min-width: 768px) {
  /* # SIDEBAR */

  .sidebar {
    width: 200px;
  }

  .main {
    width: calc(100% - 200px);
  }

  .logo {
    margin-left: 30px;
    margin-top: 5px;
  }

  .logo-image {
    margin-top: 15px;
    width: 120px;
  }

  .icon-logo {
    display: none;
  }

  .logo-item {
    margin-top: 15px;
    font-size: 20px;
  }

  .d-none {
    display: inline;
    color: white;
  }

  .control {
    display: flex;
    margin-left: 10px;
    margin-top: 25px;
  }

  .side-item {
    margin-left: 5px;
    margin-top: 8px;
  }

  .home-page {
    width: 30px;
    margin-left: 0;
  }

  .playlist {
    display: inline;
  }

  .title-playlist {
    margin-left: 10px;
    margin-top: 25px;
    font-size: 20px;
  }

  .fa-plus {
    font-size: 45px;
  }

  .new-playlist {
    margin-left: 10px;
    margin-top: 10px;
    display: flex;
    align-items: center;
  }

  .add-playlist {
    margin-left: 10px;
  }

  .list-playlist {
    margin-top: 10px;
  }

  .playlist-item {
    margin-left: 10px;
    margin-top: 20px;
    list-style: none;
  }

  .user-profile {
    display: flex;
    flex-direction: column;
    align-items: normal;
    margin-left: 20px;
  }

  .download {
    margin-bottom: 10px;
    display: inline;
  }

  .download-image {
    width: 15px;
    display: inline;
    margin-right: 5px;
  }

  .down-app {
    display: inline;
  }

  .row {
    color: gray;
    width: 160px;
  }

  .profile {
    margin-top: 10px;
    margin-bottom: 5px;
  }

  .user {
    margin-right: 5px;
  }

  .item-list {
    margin-bottom: 10px;
  }


  /* # CONTENUTO PRINCIPALE */

  .main-section{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 15px;
    padding: 10px;
  }






}

/* # DESKTOP MODE */

@media screen and (min-width: 992px) {
  .sidebar {
    width: 300px;
  }

  .logo {
    display: flex;
    margin-left: 30px;
  }

  .control {
    display: flex;
    margin-left: 10px;
    margin-top: 25px;
  }

  .row {
    color: gray;
    width: 250px;
  }

  .main {
    width: calc(100% - 300px);
  }
}

/* # DEBUG */

/**.debug {
  background-color: aqua;
  border: 1px dashed black;
  padding: 10px;
  color: white;
}

.debug .debug {
  background-color: red;
}

.debug .debug .debug {
  background-color: blueviolet;
  color: black;
}

.debug .debug .debug .debug {
  background-color: pink;
}*