/* # RESET */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* # UTILS */

.d-block {
  display: block;
}

.d-inline {
  display: inline;
}

.d-flex {
  display: flex;
}

.d-none {
  display: none;
}

/* # MAIN */

.container {
  display: flex;
  height: calc(100vh - 120px);
}

.sidebar {
  width: 50px;
  height: 100%;
  background-color: black;
}

.logo {
  margin-left: 10px;
  margin-top: 5px;
}

.main {
  height: 100%;
  width: calc(100% - 50px);
  background-color: darkblue;
}

.header {
  height: 80px;
  width: 100%;
  background-color: rgb(10, 10, 39);
}

.main-content {
}

/* # FOOTER */

.footer {
  height: 120px;
  background-color: grey;
}

/* # TABLET MODE */

@media screen and (min-width: 768px) {
  .sidebar {
    width: 200px;
  }

  .main {
    width: calc(100% - 200px);
  }

  .logo {
    display: flex;
    margin-left: 45px;
  }

  .logo-image {
    margin-right: 5px;
    margin-top: 15px;
    font-size: 20px;
  }

  .name-logo {
    margin-top: 15px;
    font-size: 20px;
  }

  .d-none {
    display: inline;
    color: white;
  }
}

/* # DESKTOP MODE */

@media screen and (min-width: 992px) {
  .sidebar {
    width: 300px;
  }

  .logo {
    display: flex;
    margin-left: 85px;
  }

  .main {
    width: calc(100% - 300px);
  }
}
